{% load i18n %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% load notifications_tags %}
<div class="alert alert-block alert-{{ notice.level }}">
	<p>
		{% if notice.unread %}
		<span style="float: right;">
			<small style="text-decoration: underline; font-size: 9px;">Marquer comme lu: </small>
			<a href="{% url 'notifications:mark_as_read' notice.slug %}" class="close pull-right">
				<i class="fa fa-check text-success ml-2"></i>
			</a>
		</span><br><br>
		<i class="fas fa-envelope mr-3"></i>
		<strong>{{ notice.verb|safe|linebreaks }}</strong>
		<br><br>
		{% else %}
		<i class="fas fa-envelope-open mr-3"></i>
		<strong>{{ notice.verb }}</strong>
		<br><br>
		{% endif %}
	</p>
	{% if notice.description %}
	<p>
		{{ notice.description|linebreaks|safe }}
	</p>
	{% endif %}
	<p>
		<small>
			{{ notice.timesince|naturaltime }}
		</small>
	</p>
	{% if notice.data.actions %}
	<div class="notice-actions">
		{% for action in notice.data.actions %}
		<a href="{{ action.href }}" class="btn">
			{{ action.title }}
		</a>
		{% endfor %}
	</div>
	{% endif %}
</div>
