{% extends 'public/includes/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}

{% block seo %}
	<meta name="keywords" content="">
	<meta name="title" content="Foods 😋😋 | Foody">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="{{ current_site }}{{ request.path }}">
	<meta property="og:description" content="Foods 😋😋 | Foody">
	<meta property="og:image" content="">
{% endblock seo %}

{% block title %}
		Foods 😋😋 | Foody 
{% endblock title %}

{% block extra_head %}{% endblock extra_head %}


{% block content %}

	{% if messages %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4">
				<div class="mt-5 pt-4 center-block">
	    		{% for message in messages %}
	    		    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
	    		        {{ message }}
	    		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    		            <span aria-hidden="true">&times;</span>
	    		        </button>
	    		    </div>
	    		{% endfor %}
		    	</div>
			</div>
	    </div>
	</div>
	{% endif %}
	
	<section id="catagorie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="block-heading">
							<h2>FOOD CATEGORIES</h2>
						</div>	
						<div class="row">
			        		<div class="p-2 text-center">
    			        		<a href="{% url 'food-category' 'vegan' %}" class="btn btn-default btn-transparent m-1" role="button">
    			        			<span>Vegan</span>
    			        		</a>
    				        	<a href="{% url 'food-category' 'steak' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Steaks</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'vegetarian' %}" class="btn btn-default btn-transparent m-1" role="button">
    			        			<span>Vegetarian</span>
    			        		</a>
    				        	<a href="{% url 'food-category' 'rice' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Rice</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'bread' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Breads</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'asian' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Asian</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'american' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>American</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'european' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>European</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'australian' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Australian</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'african' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>African</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'chenese' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Chenese</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'vietnamian' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Vietnamian</span>
    				        	</a>
    				        	<a href="{% url 'food-category' 'others' %}" class="btn btn-default btn-transparent m-1" role="button">
    				        		<span>Others</span>
    				        	</a>
			        		</div>
						</div>	<!-- End of /.row -->
					</div>	<!-- End of /.block --> 
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of Section -->


	<section id="products" class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="products-heading">
						<h2>Discover our menus & products</h2>
					</div>
				</div>
			</div>
			<div class="row">
				
				{% for item in items %}
				<div class="col-md-3 col-lg-3">
					<div class="products">
						<a href="{% url 'food-detail' item.id item.slug %}">
							<img src="{{item.picture.url}}" alt="{{item.title}}" title="{{item.title}}">
						</a>
						<a href="{% url 'food-detail' item.id item.slug %}">
							<h5>
								{{item.title}}
							</h5>
						</a>

						{% if request.user.is_superuser %}
						<p class="text-danger">
							<small>
								{% get_hit_count for item %} views !
							</small>
						</p>
						{% endif %}
						
						
						{% if item.price == 0.0 %}
						<p class="price">
							Free
						</p>
						{% else %}
						{% if item.discount_price %}
						<del>$ {{item.price}}</del>
						<p class="price">
							$ {{item.discount_price}}
						</p>
						{% else %}
						<p class="price">
							$ {{item.price}}
						</p>
						{% endif %}
						{% endif %}
						

						<a class="view-link shutter" href="{{ item.get_add_to_cart_url }}">
							<i class="fa fa-plus-circle"></i>
							Add to cart
						</a>
					</div>	<!-- End of /.products -->
				</div>	<!-- End of /.col-md-3 -->
				{% endfor %}
			
			</div>
		</div>
	</section>
{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}
