{% extends 'public/includes/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}

{% block seo %}
	<meta name="keywords" content="">
	<meta name="title" content="Foods 😋😋 | Foody">
	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="{{ current_site }}{{ request.path }}">
	<meta property="og:description" content="Foods 😋😋 | Foody">
	<meta property="og:image" content="">
{% endblock seo %}

{% block title %}
		Foods with tag -{{items_tag}}- 😋😋 | Foody 
{% endblock title %}

{% block extra_head %}{% endblock extra_head %}


{% block content %}

	{% if messages %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4">
				<div class="mt-5 pt-4 center-block">
	    		{% for message in messages %}
	    		    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
	    		        {{ message }}
	    		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    		            <span aria-hidden="true">&times;</span>
	    		        </button>
	    		    </div>
	    		{% endfor %}
		    	</div>
			</div>
	    </div>
	</div>
	{% endif %}

	{% if items %}
	<section id="products" class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="products-heading">
						<h2>
							Here are foods with tag <span class="text-info">{{items_tag}}</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				
				{% for item in items %}
				<div class="col-md-3 col-lg-3">
					<div class="products">
						<a href="{% url 'food-detail' item.id item.slug %}">
							<img src="{{item.picture.url}}" alt="{{item.title}}" title="{{item.title}}">
						</a>
						<a href="{% url 'food-detail' item.id item.slug %}">
							<h5>
								{{item.title}}
							</h5>
						</a>

						{% if request.user.is_superuser %}
						<p class="text-danger">
							<small>
								{% get_hit_count for item %} views !
							</small>
						</p>
						{% endif %}
						

						{% if item.price == 0.0 %}
						<p class="price">
							Free
						</p>
						{% else %}
						{% if item.discount_price %}
						<del>$ {{item.price}}</del>
						<p class="price">
							$ {{item.discount_price}}
						</p>
						{% else %}
						<p class="price">
							$ {{item.price}}
						</p>
						{% endif %}
						{% endif %}
						

						<a class="view-link shutter" href="{{ item.get_add_to_cart_url }}">
							<i class="fa fa-plus-circle"></i>
							Add to cart
						</a>
					</div>	<!-- End of /.products -->
				</div>	<!-- End of /.col-md-3 -->
				{% endfor %}
			
			</div>
		</div>
	</section>
	{% else %}
	<section id="products" class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h4>No item matches your query <span class="text-info">{{items_tag}}</span>.</h4>
					<p>
						If you prefer this category, feel free to <a href="{% url 'contact' %}">contact us</a> and we will add this category and/or foods for you !
					</p>
				</div>
			</div>
		</div>
	</section>
	{% endif %}

{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}
