{% extends 'admin/includes/admin_base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}


{% block title %}
	Foody Administraion 2 | Foody
{% endblock title %}

{% block navbar %}
	{% include 'admin/includes/admin_navbar.html' %}
{% endblock navbar %}


{% block content %}
		
		{% if messages %}
		<div class="container">
			<div class="row">
				<div class="col-3 col-3"></div>
				<div class="col-6 col-6">
					<div class="mt-5 pt-2 center-block">
		    		{% for message in messages %}
		    		    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
		    		        {{ message }}
		    		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    		            <span aria-hidden="true">&times;</span>
		    		        </button>
		    		    </div>
		    		{% endfor %}
			    	</div>
				</div>
		    </div>
		</div>
		{% endif %}
		
		<!-- Content Header (Page header) -->
		<div class="content-header pt-5 mt-5">
			<div class="container-fluid">
				<div class="row mb-4">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Admin Dashboard</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item active">
								Admin home
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>



		<!-- Main content -->
		<section class="content mb-5">
			<div class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-cog"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Site Traffic
								</small>
								<span class="info-box-number">
									{{total_hits}}
								</span>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-danger elevation-1">
								<i class="fas fa-shopping-cart"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Pending orders
								</small>
								<span class="info-box-number">
									{{not_complete_orders_count}}
								</span>
							</div>
						</div>
					</div>

					<!-- fix for small devices only -->
					<div class="clearfix hidden-md-up"></div>

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-success elevation-1">
								<i class="fas fa-shopping-cart"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Complete orders
								</small>
								<span class="info-box-number">
									{{complete_orders_count}}
								</span>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-warning elevation-1">
								<i class="fas fa-users"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Members
								</small>
								<span class="info-box-number">
									{{users_count}}
								</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Info boxes -->
				<div class="row">

					<div class="col-12 col-sm-6 col-md-4">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-danger elevation-1">
								<i class="fas fa-dollar-sign"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Money spent
								</small>
								<span class="info-box-number">
									$ {{total_expenses_made}}
								</span>
							</div>
						</div>
					</div>

					<!-- fix for small devices only -->
					<div class="clearfix hidden-md-up"></div>

					<div class="col-12 col-sm-6 col-md-4">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-dollar-sign"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Sales made
								</small>
								<span class="info-box-number">
									$ {{total_sales_made}}
								</span>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-{% if total_profits_made >= 0 %}success{% else %}danger{% endif %} elevation-1">
								<i class="fas fa-dollar-sign"></i>
							</span>
							<div class="info-box-content">
								<small class="info-box-text">
									Profits
								</small>
								<span class="info-box-number">
									$ {{total_profits_made}}
								</span>
							</div>
						</div>
					</div>
				</div>







				<div class="row">
					<div class="col-md-12 mt-3">
						<div class="card">
							<!-- card-header -->
							<div class="card-header">
								<h5 class="card-title">
									Annual Sales Report 
								</h5>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body">
								<div class="row">
									<div class="col-md-9">
										<p class="text-center">
											<strong>
												Sales: 1 Jan - 31 Dec <script>document.write(new Date().getFullYear());</script>
											</strong>
										</p>
										<div class="chart">
											<!-- Sales Chart Canvas -->
											<canvas id="salesChart" height="350" style="max-height: 350;"></canvas>
										</div>
										<!-- /.chart-responsive -->
									</div>
									<div class="col-md-3">
										<p class="text-center">
											<strong>
												Store's stats
											</strong>
										</p>
										<div class="progress-group text-primary">
											<small>Monthly added items</small>
											<span class="float-right">
												<b>
													{{new_added_items_count}}
												</b> 
											</span>
										</div>
										<div class="progress-group text-success">
											<small>Complete orders</small>
											<span class="float-right">
												<b>
													{{complete_orders_count}}
												</b> 
											</span>
										</div>
										<div class="progress-group text-warning">
											<small>Pending orders</small>
											<span class="float-right">
												<b>
													{{not_complete_orders_count}}
												</b> 
											</span>
										</div>
										<div class="progress-group text-secondary">
											<small>Total items</small>
											<span class="float-right">
												<b>
													{{total_items_count}}
												</b> 
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




				<div class="row">
					<div class="col-md-8">
						<!-- MAP & BOX PANE -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Visitors Report</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body p-0">
								<div class="d-md-flex">
									<div class="p-1 flex-fill" style="overflow: hidden">
										<div id="world-map-markers"  style="height: 325px; overflow: hidden">
											<div class="map"></div>
										</div>
									</div>

									<div class="card-pane-right bg-success pt-2 pb-2 pl-4 pr-4">
										<div class="description-block mb-4">
											<h5 class="description-header">
												{{total_hits}}
											</h5>
											<span class="description-text">HITS</span>
										</div>
									</div>
								</div>
							</div>
						</div>


						<!-- TABLE: LATEST ORDERS -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Latest Not Received Orders</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<!-- /.card-header -->
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table m-0">
										<thead>
											<tr>
												<th>Order ID</th>
												<th>User</th>
												<th>Email</th>
												<th>Ordered</th>
												<th>Start date</th>
												<th>Ordered date</th>
												<th>Being delivered</th>
												<th>Received</th>
												<th>Refund requested</th>
												<th>Refund granted</th>
											</tr>
										</thead>
										<tbody>
											{% for order in orders_list %}
											<tr>
												<th>
													<a href="#">
														{{order.id}}
													</a>
												</th>
												<td>
													<small>
														{{order.user.username}}
													</small>
												</td>
												<td>
													<small>
														{{order.user.email}}
													</small>
												</td>
												<td>
													{% if order.ordered %}
													<span class="badge badge-info">Ordered</span>
													{% else %}
													<span class="badge badge-warning">Pending</span>
													{% endif %}
												</td>
												<td>
													<small>
														{{order.start_date|naturaltime}}
													</small>
												</td>
												<td>
													{% if order.ordered_date %}
													<small>
														{{order.ordered_date|naturaltime}}
													</small>
													{% else %}
													<small>
														Not ordered
													</small>
													{% endif %}
												</td>
												<td>
													{% if order.being_delivered %}
													<span class="badge badge-success">Yes</span>
													{% else %}
													<span class="badge badge-danger">No</span>
													{% endif %}
												</td>
												<td>
													{% if order.received %}
													<span class="badge badge-success">Received</span>
													{% else %}
													<span class="badge badge-danger">Not received</span>
													{% endif %}
												</td>
												<td>
													{% if order.refund_requested %}
													<span class="badge badge-success">Requested</span>
													{% else %}
													<span class="badge badge-danger">Not requested</span>
													{% endif %}
												</td>
												<td>
													{% if order.refund_granted %}
													<span class="badge badge-success">Granted</span>
													{% else %}
													<span class="badge badge-danger">Not granted</span>
													{% endif %}
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table> <!-- /.table -->
								</div> <!-- /.table-responsive -->
							</div> <!-- /.card-body -->
							{% if not_received_orders_count > 5 %}
							<div class="card-footer clearfix">
								<a href="{% url 'order-not-received' %}" class="btn btn-sm btn-secondary float-right">View All</a>
							</div>
							{% endif %}
						</div>
					</div> <!-- /.col-md-8 -->

					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Browsers stats</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->
							<div class="card-body">
								<!-- Info Boxes Style 2 -->
								<div class="info-box mb-3 bg-warning">
									<span class="info-box-icon">
										<i class="fab fa-chrome" style="font-size: 24px;"></i>
									</span>
									<div class="info-box-content">
										<span class="info-box-text">
											Google chrome hits
										</span>
										<span class="info-box-number">5,200</span>
									</div>
								</div>
								<div class="info-box mb-3 bg-success">
									<span class="info-box-icon">
										<i class="fab fa-firefox-browser" style="font-size: 24px;"></i>
									</span>
									<div class="info-box-content">
										<span class="info-box-text">
											Firefox hits
										</span>
										<span class="info-box-number">5,200</span>
									</div>
								</div>
								<div class="info-box mb-3 bg-primary">
									<span class="info-box-icon">
										<i class="fab fa-safari" style="font-size: 24px;"></i>
									</span>
									<div class="info-box-content">
										<span class="info-box-text">
											Safari hits
										</span>
										<span class="info-box-number">5,200</span>
									</div>
								</div>
								<div class="info-box mb-3 bg-info">
									<span class="info-box-icon">
										<i class="fab fa-internet-explorer" style="font-size: 24px;"></i>
									</span>
									<div class="info-box-content">
										<span class="info-box-text">
											IE hits
										</span>
										<span class="info-box-number">5,200</span>
									</div>
								</div>
								<div class="info-box mb-3 bg-danger">
									<span class="info-box-icon">
										<i class="fas fa-browser" style="font-size: 24px;"></i>
									</span>
									<div class="info-box-content">
										<span class="info-box-text">
											Other browsers hits
										</span>
										<span class="info-box-number">5,200</span>
									</div>
								</div> <!-- /.info-box -->
							</div>
						</div> <!-- /.card -->



						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Browser Usage</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body">
								<div class="row">
									<div class="col-md-8">
										<div class="chart-responsive">
											<canvas id="pieChart" height="180" style="height: 180px;"></canvas>
										</div>
									</div>

									<div class="col-md-4">
										<ul class="chart-legend clearfix">
											<li>
												<small><i class="far fa-circle text-warning"></i></small>
												<small>Chrome</small>
											</li>
											<li>
												<small><i class="far fa-circle text-success"></i></small>
												<small>Firefox</small>
											</li>
											<li>
												<small><i class="far fa-circle text-primary"></i></small>
												<small>Safari</small>
											</li>
											<li>
												<small><i class="far fa-circle text-info"></i></small>
												<small>IE</small>
											</li>
											<li>
												<small><i class="far fa-circle text-danger"></i> Others</small>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.row -->


				<div class="row">
					<div class="col-md-6 mt-3">
						<div class="card">
							<!-- card-header -->
							<div class="card-header">
								<h5 class="card-title">
									Users join Report
								</h5>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body">
								<p class="text-center">
									<strong>
										Users: 1 Jan - 31 Dec <script>document.write(new Date().getFullYear());</script>
									</strong>
								</p>
								<div class="chart">
									<!-- Users Chart Canvas -->
									<canvas id="usersLineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
								</div>
								<!-- /.chart-responsive -->
							</div>

						</div>
					</div> <!-- /.col-md-6 mt-3 mb-5 -->

					<div class="col-md-6 mt-3 mb-5">
						<div class="card">
							<!-- card-header -->
							<div class="card-header">
								<h5 class="card-title">
									Users Access level chart
								</h5>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body">
								<div class="chart">
									<!-- Users Pie Chart Canvas -->
									<canvas id="usersPieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
								</div>
								<!-- /.chart-responsive -->
							</div>
						</div>
					</div>
				</div> <!-- /.row -->






				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<!-- card-header -->
							<div class="card-header">
								<h5 class="card-title">
									<i class="fa fa-list-alt fa-2x text-info"></i>
									Annual Sales & Expenses Report
								</h5>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body">
								<p class="text-center">
									<strong>
										Number of sales & expenses made: 1 Jan - 31 Dec <script>document.write(new Date().getFullYear());</script>
									</strong>
									<small>(Not amount/money in $)</small>
								</p>
								<div class="chart">
									<!-- Sales Chart Canvas -->
									<canvas id="profExpChart" height="350" style="max-height: 300;"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12 mt-3">
						<div class="card card-success card-outline">
							<!-- card-header -->
							<div class="card-header">
								<h5 class="card-title">
									<i class="fa fa-dollar-sign fa-2x text-success"></i> Annual Sales & Expenses Report 
								</h5>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div> <!-- /.card-header -->

							<div class="card-body">
								<p class="text-center">
									<strong>
										Sales & expenses made: 1 Jan - 31 Dec <script>document.write(new Date().getFullYear());</script>
									</strong>
									<small>(Amount/money in $)</small>
								</p>
								<div class="chart">
									<!-- Sales Chart Canvas -->
									<canvas id="profExpAmountChart" height="300" style="max-height: 300;"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div> <!-- /.container-fluid -->
		</section> <!-- /.content -->
{% endblock content %}



{% block extra_scripts %}
	<script>
	    var ctx = document.getElementById('usersPieChart').getContext('2d');
	    var donutData = {
	    	labels: ['Total', 'Staff users', 'Superusers', 'Simple users'],
	    	datasets: [
	    		{
		    		data: [{{users_count}}, {{staff_users_count}}, {{superusers_count}}, {{lambda_users_count}}],
		    		backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef'],
		    	}
	    	]
	    }
	    var donutOptions = {
	    	maintainAspectRatio : false,
	    	responsive : true,
	    }
	    var donutChart = new Chart(ctx,{
	    	type: 'doughnut',
	    	data: donutData,
	    	options: donutOptions
	    })
	</script>

	<script>
		$(function () {
			'use strict'

			//-----------------------
			//- ANNUAL SALES CHART -
			//-----------------------

			// Get context with jQuery - using jQuery's .get() method.
			var salesChartCanvas = $('#salesChart').get(0).getContext('2d')

			var salesChartData = {
				labels  : ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
				datasets: [
					{
					label               : 'Sales',
					backgroundColor     : 'rgba(60,141,188,0.9)',
					borderColor         : 'rgba(60,141,188,0.8)',
					pointRadius         : true,
					pointColor          : '#3b8bba',
					pointStrokeColor    : 'rgba(60,141,188,1)',
					pointHighlightFill  : '#fff',
					pointHighlightStroke: 'rgba(60,141,188,1)',
					data : [
							{{jan_sale}},
							{{feb_sale}},
							{{march_sale}},
							{{apr_sale}},
							{{may_sale}},
							{{jun_sale}},
							{{jul_sale}},
							{{aug_sale}},
							{{sept_sale}},
							{{oct_sale}},
							{{nov_sale}},
							{{dec_sale}}
						]
					},
				]
			}

			var salesChartOptions = {
			  maintainAspectRatio : false,
			  responsive : true,
			  legend: {
			    display: false
			  },
			  scales: {
			    xAxes: [{
			      gridLines : {
			        display : false,
			      }
			    }],
			    yAxes: [{
			      gridLines : {
			        display : false,
			      }
			    }]
			  }
			}

			// This will get the first returned node in the jQuery collection.
			var salesChart = new Chart(salesChartCanvas, { 
			    type: 'line', 
			    data: salesChartData, 
			    options: salesChartOptions
			  }
			)

			//---------------------------
			//- END ANNUAL SALES CHART -
			//---------------------------
		




			//---------------------------
			//- ANNUAL USERS CHART -
			//---------------------------
			var lineChartCanvas = $('#usersLineChart').get(0).getContext('2d')
			



			var lineChartOptions = {
				maintainAspectRatio : false,
				responsive : true,
				legend: {
				  display: true
				},
				scales: {
				  xAxes: [{
				    gridLines : {
				      display : false,
				    }
				  }],
				  yAxes: [{
				    gridLines : {
				      display : false,
				    }
				  }]
				}
			}
			


			var lineChartData = {
				labels  : ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],

				datasets: [
					{
					label               : 'Sales',
					backgroundColor     : 'rgba(60,141,188,0.9)',
					borderColor         : 'rgba(60,141,188,0.8)',
					pointRadius         : true,
					pointColor          : '#3b8bba',
					pointStrokeColor    : 'rgba(60,141,188,1)',
					pointHighlightFill  : '#fff',
					pointHighlightStroke: 'rgba(60,141,188,1)',
					data : [
							{{jan_user}},
							{{feb_user}},
							{{march_user}},
							{{apr_user}},
							{{may_user}},
							{{jun_user}},
							{{jul_user}},
							{{aug_user}},
							{{sept_user}},
							{{oct_user}},
							{{nov_user}},
							{{dec_user}}
						]
					},
				]
			}
			

			lineChartData.datasets[0].fill = false;
			lineChartOptions.datasetFill = false

			var lineChart = new Chart(lineChartCanvas, { 
				type: 'line',
				data: lineChartData, 
				options: lineChartOptions
			})

			//---------------------------
			//- END ANNUAL USERS CHART -
			//---------------------------









			var barChartCanvas = $('#profExpChart').get(0).getContext('2d')
			var barChartData = {
				labels  : ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
				datasets: [
					{
						label               : 'Sales',
						backgroundColor     : 'rgba(60,141,188,0.9)',
						borderColor         : 'rgba(60,141,188,0.8)',
						pointRadius          : true,
						pointColor          : '#3b8bba',
						pointStrokeColor    : 'rgba(60,141,188,1)',
						pointHighlightFill  : '#fff',
						pointHighlightStroke: 'rgba(60,141,188,1)',
						data                : [
							{{jan_sale}},
							{{feb_sale}},
							{{march_sale}},
							{{apr_sale}},
							{{may_sale}},
							{{jun_sale}},
							{{jul_sale}},
							{{aug_sale}},
							{{sept_sale}},
							{{oct_sale}},
							{{nov_sale}},
							{{dec_sale}}
						]
					},
					{
						label               : 'Expenses',
						backgroundColor     : 'rgba(210, 214, 222, 1)',
						borderColor         : 'rgba(210, 214, 222, 1)',
						pointRadius         : true,
						pointColor          : 'rgba(210, 214, 222, 1)',
						pointStrokeColor    : '#c1c7d1',
						pointHighlightFill  : '#fff',
						pointHighlightStroke: 'rgba(220,220,220,1)',
						data                : [
							{{jan_expense}},
							{{feb_expense}},
							{{march_expense}},
							{{apr_expense}},
							{{may_expense}},
							{{jun_expense}},
							{{jul_expense}},
							{{aug_expense}},
							{{sept_expense}},
							{{oct_expense}},
							{{nov_expense}},
							{{dec_expense}}
						]
					}
				]
			}
			var temp0 = barChartData.datasets[0]
			var temp1 = barChartData.datasets[1]
			barChartData.datasets[0] = temp1
			barChartData.datasets[1] = temp0

			var barChartOptions = {
				responsive              : true,
				maintainAspectRatio     : false,
				datasetFill             : false,
				legend: {
				  display: true
				},
				scales: {
				  xAxes: [{
				    gridLines : {
				      display : false,
				    }
				  }],
				  yAxes: [{
				    gridLines : {
				      display : false,
				    }
				  }]
				}
			}

			var barChart = new Chart(barChartCanvas, {
				type: 'bar', 
				data: barChartData,
				options: barChartOptions
			})
		})
	</script>



	<script>
		$(function () {

			'use strict'

			var barChartCanvas = $('#profExpAmountChart').get(0).getContext('2d')
			var barChartData = {
				labels  : ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
				datasets: [
					{
						label               : 'Sales $',
						backgroundColor     : 'rgba(60,141,188,0.9)',
						borderColor         : 'rgba(60,141,188,0.8)',
						pointRadius          : true,
						pointColor          : '#3b8bba',
						pointStrokeColor    : 'rgba(60,141,188,1)',
						pointHighlightFill  : '#fff',
						pointHighlightStroke: 'rgba(60,141,188,1)',
						data                : [
							
							{{jan_sale_amount}},
							{{feb_sale_amount}},
							{{march_sale_amount}},
							{{apr_sale_amount}},
							{{may_sale_amount}},
							{{jun_sale_amount}},
							{{jul_sale_amount}},
							{{aug_sale_amount}},
							{{sept_sale_amount}},
							{{oct_sale_amount}},
							{{nov_sale_amount}},
							{{dec_sale_amount}},
						],
					},
					{
						label               : 'Expenses $',
						backgroundColor     : 'rgba(210, 214, 222, 1)',
						borderColor         : 'rgba(210, 214, 222, 1)',
						pointRadius         : true,
						pointColor          : 'rgba(210, 214, 222, 1)',
						pointStrokeColor    : '#c1c7d1',
						pointHighlightFill  : '#fff',
						pointHighlightStroke: 'rgba(220,220,220,1)',
						data                : [
							{{jan_expense_amount}},
							{{feb_expense_amount}},
							{{march_expense_amount}},
							{{apr_expense_amount}},
							{{may_expense_amount}},
							{{jun_expense_amount}},
							{{jul_expense_amount}},
							{{aug_expense_amount}},
							{{sept_expense_amount}},
							{{oct_expense_amount}},
							{{nov_expense_amount}},
							{{dec_expense_amount}},
						],
					}
				],
			}
			var temp0 = barChartData.datasets[0]
			var temp1 = barChartData.datasets[1]
			barChartData.datasets[0] = temp1
			barChartData.datasets[1] = temp0
			temp0.fill = false
			temp1.fill = false

			var barChartOptions = {
				responsive              : true,
				maintainAspectRatio     : false,
				datasetFill             : false,
				legend: {
				  display: true
				},
				scales: {
				  xAxes: [{
				    gridLines : {
				      display : false,
				    }
				  }],
				  yAxes: [{
				    gridLines : {
				      display : false,
				    }
				  }]
				}
			}

			var barChart = new Chart(barChartCanvas, {
				type: 'line', 
				data: barChartData,
				options: barChartOptions
			})

		})
	</script>

{% endblock extra_scripts %}



