	{% load static %}
	<script src="{% static 'js/admin/jquery.min.js' %}"></script>
	<script src="{% static 'js/admin/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/admin/jquery.overlayScrollbars.min.js' %}"></script>
	<script src="{% static 'js/admin/adminlte.min.js' %}"></script>
	<script src="{% static 'js/admin/Chart.min.js' %}"></script>
	<script src="{% static 'js/admin/dashboard.js' %}"></script>
	<script src="{% static 'js/admin/dashboard2.js' %}"></script>
	<script src="{% static 'js/admin/dashboard3.js' %}"></script>
	<script src="{% static 'js/admin/demo.js' %}"></script>
	<script src="{% static 'js/admin/jquery.mapael.min.js' %}"></script>
	<script src="{% static 'js/admin/flot/jquery.flot.js' %}"></script>
	<script src="{% static 'js/admin/flot/jquery.flot.resize.min.js' %}"></script>
	<script src="{% static 'js/admin/flot/jquery.flot.pie.min.js' %}"></script>
