{% extends 'public/includes/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}


{% block seo %}
	<meta name="keywords" content="">
	<meta name="title" content="Login to your Foody account">
	<meta name="description" content="">
	<meta property="og:title" content="Login to your Foody account">
	<meta property="og:url" content="{{ current_site }}{{ request.path }}">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
{% endblock seo %}

{% block title %}
		Login to your Foody account 😋😋 | Foody 
{% endblock title %}

{% block extra_head %}{% endblock extra_head %}



{% block content %}
	{% if messages %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4">
				<div class="mt-5 pt-4 center-block">
	    		{% for message in messages %}
	    		    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
	    		        {{ message }}
	    		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    		            <span aria-hidden="true">&times;</span>
	    		        </button>
	    		    </div>
	    		{% endfor %}
		    	</div>
			</div>
	    </div>
	</div>
	{% endif %}


	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 clearfix">
					<div class="leave-comment">
						<h5 class="text-center pb-3">LOGIN TO YOUR <strong class="text-info">FOODY</strong> ACCOUNT NOW</h5>
						<form method="POST" class="form-horizontal" role="form">
							{% csrf_token %}
							<div class="form-group">
						    	<label for="inputname" class="col-sm-2 control-label">Username</label>
							    <div class="col-sm-10">
							      	<input type="text" class="form-control" id="inputname" placeholder="Username ..." name="username">
							    </div>
						  	</div>	<!-- End of /.form-group -->
						  	<div class="form-group">
						    	<label for="inputPassword" class="col-sm-2 control-label">Password</label>
							    <div class="col-sm-10">
							      	<input type="password" class="form-control" id="inputEmail" placeholder="Password ..." name="password">
							    </div>
						  	</div>	<!-- End of /.form-group -->
							<div class="form-group">
						    	<div class="col-sm-offset-2 col-sm-10">
						    		{% if request.GET.next %}
								 	<input type="hidden" name="next" value="{{ request.GET.next }}" />
								 	{% endif %}
						      		<button type="submit" class="btn btn-primary btn-block mt-4">Login now</button>
						    	</div>
						  	</div>	<!-- End of /.form-group -->
						</form>	<!-- End of /.form-horizontal -->
						<a class="f-small text-center" href="{% url 'reset_password' %}">
							Forgotten password ?
						</a>
						Not member yet ?<a class="f-small text-center" href="{% url 'register' %}">
							Register a new account
						</a>
					</div>	<!-- End of /.leave comments -->
				</div> <!-- End of /.col-md-9 -->
			</div>
		</div>
	</section>
{% endblock content %}

{% block header_search %}
    {% include 'public/includes/site_header_without_search.html' %}
{% endblock header_search %}

{% block extra_scripts %}{% endblock extra_scripts %}

{% block footer %}{% endblock footer %}
