	{% load static %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block clearfix">
						<h4>ABOUT</h4>
						<a href="{% url 'home' %}">
							<img src="{% static 'images/footer-logo.png' %}">
						</a>
						<p>
							Foody is a restaurant and an online service for booking something to eat. All data and infos provided here are fake data. But you can contact me on WhatsApp (+2250143635648) or per email (kiuv.abraj@gmail.com) if you want a paid service for a project. Thx
						</p>
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of /.Col-md-4 -->
				<div class="col-md-4">
					<div class="block">
						<h4>GET IN TOUCH</h4>
						<p ><i class="fa  fa-map-marker"></i> <span>Foody, </span>Bouaké, Belle-Ville, Ivory Coast</p>
						<p> <i class="fa  fa-mobile"></i> <span>Mobile:</span> (+225) 01 43 63 56 48</p>
 
						<p class="mail"><i class="fa  fa-envelope"></i>Email: <span>contact@foody.com</span></p>
						<p class="mail"><i class="fa  fa-envelope"></i>Email: <span>kiuv.abraj@gmail.com</span></p>
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of Col-md-3 -->
				<div class="col-md-4">
					<div class="block">
						<h4>CONNECT WITH US</h4>
						<ul class="social-icon">
							<li>
								<a class="facebook-icon" href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="twitter-icon" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
						</ul>	<!-- End Of /.social-icon -->
					</div>
				</div>
			</div> <!-- End Of /.row -->
		</div> <!-- End Of /.Container -->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-lg-4">
							<p class="copyright-text pull-left">
								Template provided by <a href="http://www.themexpert.com">Themexpert</a>
							</p>
						</div>
						<div class="col-lg-8">
							<p class="copyright-text pull-right">&copy; Copyright <script>document.write(new Date().getFullYear());</script> Food | by <a href="{% url 'home' %}">Foody</a> All Rights Reserved</p>
						</div>
					</div>	<!-- End Of /.col-md-12 -->	
				</div>	<!-- End Of /.row -->	
			</div>	<!-- End Of /.container -->	
		</div>	<!-- End Of /.footer-bottom -->
	</footer> <!-- End Of Footer -->
	<a id="back-top" href="#"></a>
