	<section id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="contact-action"><i class="fa fa-phone-square"></i>IN CASE OF ANY QUESTIONS, CALL OR WHATSAPP THIS NUMBER: <strong>+225 0143635648</strong></p>
				</div>
				<div class="col-md-3 clearfix"></div>
				<div class="col-md-2">
					<div class="search-box">
						<form method="GET">
							<div class="input-group">
						    	<input placeholder="Search Foods ..." type="text" class="form-control" name="food" value="{{ request.GET.food }}">
						      	<span class="input-group-btn">
						        	<button class="btn btn-default" type="submit"></button>
						      	</span>
						    </div><!-- /.input-group -->
						</form>
					</div><!-- /.search-box -->
				</div>
			</div> <!-- End Of /.row -->
		</div>	<!-- End Of /.Container -->
	</section>  <!-- End of /Section -->